<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DATABASE_NAME</key>
	<string>$(DATABASE_NAME)</string>
	<key>DATABASE_KEY</key>
	<string>$(DATABASE_KEY)</string>
</dict>
</plist>
